body  {
    font-family: "Ubuntu Mono", monospace;
}


#coder {
    width: 60%;
    height: 500px;
}

#wrapper {
    position: relative;
    text-align: center;
}

#wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%; height: 100%;
    vertical-align: middle;
}

#content {
    display: inline-block;
    vertical-align: middle;
}

.inline-div {
    display:inline-block;
    width: 310px;
    height: 512px;
}